@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/flexbox";
@import "bootstrap/variables";

.channel-list-item {
  @include transition(all 0.1s ease-in-out);
  @include scale(1, 1);
  background: #fff;
  box-shadow: 0px 1px 2px #999;
  margin: 6px 0 0;
  padding: 10px;


  &:hover {
    @include scale(1.02, 1.02);
    cursor: pointer;
    box-shadow: 0px 0px 6px #999;

    .channel-list-item__push-btn {
      display: block;
    }
  }

  &__flex-wrap {
    @include display-flex;
    @include align-items(center);
  }

  &__thumb-wrap {
    flex-grow: 0;
    width: 20%;
  }

  &__thumb {
    position: relative;
    border-radius: 500px;
    width: 100%;
    padding-bottom: 100%;
    background-position: center center;
  }

  &__info {
    flex-grow: 0;
    width: 60%;
    padding: 0 10px
  }

  &__name {
    font-weight: 600;
  }

  &__description {
    color: #999;
    font-size: 12px;
    height: 1.5em;
  }
}


// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
  .channel-list-item {
    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 4px;


    &__flex-wrap {
      @include flex-direction(column);
      @include align-items(flex-start);
    }

    &__thumb-wrap {
      width: 100%;
    }
    &__info {
      width: 100%;
      padding: 10px;
    }
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}