@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/flexbox";
@import "bootstrap/variables";
@import "../common/colors";

.channel-list-item {

  border: 0.5px solid $of-light-grey;

  &__flex-wrap {
    @include display-flex;
    @include align-items(center);
  }

  &__thumb-wrap {
    flex-grow: 0;
    width: 20%;
    padding: 5px;
  }

  &__thumb {
    position: relative;
    border-radius: 500px;
    width: 100%;
    padding-bottom: 100%;
    background-position: center center;
    @include scale(1);
    @include transition(all 0.05s ease-in-out);
  }

  &__info {
    @include flex-grow(3);
    width: 60%;
    padding: 10px;
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
  }

  &__author {
    font-weight: 100;
    font-size: 14px;
  }

  &__description, &__author {
    color: black;
    font-size: 13px;
  }

  &__actions {
    @include flex-grow(1);
    @include display-flex;
    padding: 0;
  }
}


// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
  .channel-list-item {
    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 4px;

    &__actions {
      display: none;
    }

    &:hover {

      .channel-list-item__thumb {
        @include scale(1.02);
      }

      .channel-list-item__push-btn {
        display: block;
      }

      .channel-list-item__actions {
        display: block;
      }
    }


    &__flex-wrap {
      @include flex-direction(column);
      @include align-items(flex-start);
    }

    &__thumb-wrap {
      width: 100%;
    }
    &__info {
      width: 100%;
    }
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}