.profile-header {
  background-color: #fff;
  padding: 30px 15px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0px 0px 2px #999;

  &__name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__social {
    color: #999;
    margin-bottom: 5px;
  }

  &__bio {
  }
}
