@import "../common/colors";
@import "bootstrap/variables";

.profile-header {
  position: relative;
  //background-color: $of-light-grey;
  padding: 40px 15px 20px 15px;
  text-align: center;
  margin-bottom: 10px;
  //box-shadow: 0px 0px 2px #999;
  font-size: 16px;

  &__name {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__social {
    color: $of-normal-grey;
    margin-bottom: 5px;
  }

  &__social a {
      color: $of-normal-grey;
  }

  &__social a:hover {
      color: $of-dark-grey;
  }

  &__bullet {
    padding: 0 10px;
    font-size: 12px;
  }
  &__bio {
    color: $of-dark-grey;
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media(min-width: $screen-sm-min) {
  .profile-header {
    margin-bottom: 40px;
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}