@import "compass/css3/flexbox";

.collection-detail-sub-menu {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 40px;

  &__wrap {
    border-bottom: 1px solid #333;
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(baseline);
  }

  &__back {

  }

  &__name {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    margin-bottom: 4px;
  }

  &__play-btn {

  }
}