@import "compass/css3/flexbox";
@import "compass/css3/transition";
@import "bootstrap/variables";

$topbar-height: 45px;

.topbar {
    height: $topbar-height;
    background-color: #444;
    color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__tab {
        @include display-flex(inline-flex);
        @include justify-content(center);
        @include align-items(center);
        @include transition(all 0.1s);
        float: left;
        height: 100%;
        padding: 0 15px;
        color: #eee;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
            background-color: #333;
            color: #fff;
        }

        &:hover {
            background-color: #222;
            color: #fff;

            .sidebar-btn {
                opacity: 1;
            }
        }

        &:focus {
            color: #fff;
        }

        &--logo {
            padding: 0 10px;

            img {
                padding: 0;
                width: 22px;
            }
        }

        &--link {
            text-transform: none;
        }

        &--transparent {
            &:hover {
                background-color: transparent;
            }
        }

        &--selected-frame {
            text-transform: none;
            cursor: default;
        }

        .sidebar-btn {
            @include transition(opacity 0.1s);
            border: 1px solid #fff;
            height: 18px;
            width: 30px;
            border-radius: 2px;
            opacity: 0.5;
            background: url('../../images/threedots.svg');
            background-position: center center;
            background-repeat: no-repeat;
        }

    }
}

// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
    $topbar-height-sm: 66px;
    .topbar {
        height: $topbar-height-sm;

        &__tab {
            padding: 0 30px;
            letter-spacing: 1px;
            &--logo {
                padding: 0 20px;

                img {
                    padding: 0;
                    width: 28px;
                }
            }
        }
    }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}