@import "compass/css3/flexbox";
@import "compass/css3/transition";
@import "bootstrap/variables";
@import "../common/colors";

.sidebar-frame-item {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);

  &__settings, &__selected {
    padding: 10px;
    img {
      display: block;
    }
  }

  &__actions {
    flex-basis: 70px;
    @include display-flex();
    @include align-items(center);
    @include justify-content(flex-end);
  }
}
