/* Base Application Styles */
body {
  padding-top: 100px;
  font-family: "Lato", sans-serif;
  color: black;
  background: #eee;
}

/* Global */

a {
    color: black;
}

a:hover, a:focus {
    text-decoration: none;
    color: black;
    outline: none;
}

.container-centered-well {
    max-width: 600px;
    margin-top: 70px;
}

.container-centered-well a {
    text-decoration: underline;
}


/* User page navigation */

.row-collection {
    margin-top: 40px;
    padding: 0px;
}

h4 {
    font-size: 14px;
    margin: 0px;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    float: left;
    padding-top: 3px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}