button {
  outline: none;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
}

.btn-fw {
  width: 100%;
}

.btn-default {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  margin-top: 20px;

  &:hover {
    background-color: #222;
    border: 1px solid #000;
    color: #fff;
  }
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: #000;

  &:hover {
    color: #000;
    background-color: #eee;
  }
}


.btn-destructive {
  background-color: transparent;
  border: none;
  color: #900;

  &:hover {
    color: #900;
    background-color: #eee;
  }
}