$of-info: #e2f5ff;
$of-darkest-grey: #262626;
$of-dark-grey: #3F3F3F;
$of-normal-grey: #C0C0C0;
$of-light-grey: #DEDEDE;
$of-lightest-grey: #EFEFEF; // #F6F6F6;
$of-white: #fff;

$of-blueish-grey: #e9eaea;

$of-green: #F6F6F6;

$of-app-background: $of-blueish-grey;
$of-dark-background: $of-dark-grey;
$of-selected-background: $of-darkest-grey;
$of-active: $of-green;
$of-light-text: $of-white;