@import "../common/colors";
@import "compass/css3/transform";

.edit-button {
  width: 34px;
  height: 34px;
  border-radius: 34px;
  padding: 5px 9px;
  cursor: pointer;

  &:hover {
    // background-color: darken($of-lightest-grey, 5%);
    background-color: $of-lightest-grey;
    @include scale(1.1);
  }

  &--hover {
    cursor: pointer;
  }
}
