@import "../common/colors";

.form-control {
  box-shadow: none;
  border: 1px solid #000;
  padding: 10px;
  height: auto;
  font-size: 16px;
  color: black;
  font-weight: normal;
}

label {
  font-size: 16px;
  font-weight: normal;
}

input:placeholder-shown {
	font-style: italic;
	font-weight: lighter;
	color: $of-dark-grey;
}

.fine-copy {
  color: $of-normal-grey;
  margin: 3px 10px;
  font-weight: 200;
  font-size: 12px;
}