@import "bootstrap/variables";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "./colors";

.notice-banner {
  width: 100%;
  color: #fff;
  padding: 15px;

  &--info {
    background-color: $of-info;
  }

  &--success {
    background-color: $of-info;
  }

  &--warning {
    background-color: $of-error;
  }
}


// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
  .notice-banner {
    max-width: 700px;
    margin: 20px auto;
    border-radius: 3px;
    text-align: center;
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {}