@import "../common/colors";

.push-button {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: $of-lightest-grey;
  padding: 1px 11px;
  color: #000;

  &--hover {
    cursor: pointer;
  }
}
