@import "compass/css3/transition";
@import "compass/css3/transform";
@import "bootstrap/variables";

.artwork-list-item {
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 2px #aaa;

  &__thumb {
    padding: 10px;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__thumb-img {
    width: 100%;
  }

  &__info {
    padding: 10px;
  }

  &__author {
    color: #333;
    font-weight: 100;
  }

  &__title {
    color: #333;
    font-weight: 600;
    display: inline;
  }

  &__format {
    color: #ccc;
    font-size: 9px;
    text-transform: uppercase;
    display: inline;
    padding: 0px 10px;
    letter-spacing: 1px;
  }

  &__actions {
    position: absolute;
    right: 0px;
    bottom: 15px;
    padding: 10px;
  }

}

// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
  .artwork-list-item {
    @include transition(all 0.1s ease-in-out);
    @include scale(1, 1);
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px #aaa;

    &:hover {
      @include scale(1.02, 1.02);
      cursor: pointer;
      box-shadow: 0px 2px 6px #999;
      .artwork-list-item__push-btn {
        display: block;
      }
    }

     &__thumb {
      padding: 0px;
    }

    &__actions {
      bottom: 0px;
    }
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}