@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "bootstrap/variables";
@import "../common/colors";

.artwork-list-item {
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 2px 0px $of-light-grey;
  margin: 10px 10px 0px 10px;

  &__thumb {
    // padding: 10px;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__thumb-img {
    width: 100%;
  }

  &__info {
    padding: 8px;
    padding-left: 12px;
  }

  &__author {
    color: #333;
    font-weight: 100;
    font-size: 13px;
  }

  &__title {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    display: inline;
  }

  &__format {
    color: $of-normal-grey;
    font-size: 9px;
    font-weight: 200;
    text-transform: uppercase;
    display: inline;
    padding: 0px 10px;
    letter-spacing: 0.8px;
  }

  &__actions {
    position: absolute;
    right: 0px;
    bottom: 10px;
    padding: 0px 10px;
    z-index: 2;
  }

  &__action {
    float: right;
    margin-left: 5px;
  }

  &__current-indicator {
    position: absolute;
    right: 16px;
    bottom: 12px;
    font-size: 24px;
    z-index: 1;
  }
}

// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {
  .artwork-list-item {
    //@include transition(all 0.05s ease-in-out);
    @include scale(1, 1);
    margin-bottom: 20px;
    box-shadow: 0px 1.5px 0px $of-light-grey;

    &__actions {
      display: none;
    }

    &__current-indicator {
      position: absolute;
      right: 20px;
      bottom: 12px;
      font-size: 24px;
    }

    &:hover {
      //@include scale(1.013, 1.013);
      // @include translateY(-2px);
      cursor: pointer;

      @include scale(1.015, 1.015);
      box-shadow: 0px 1.8px 0px $of-light-grey;
      //box-shadow: 0px 4px 0px $of-light-grey;


      //outline: 2px solid $of-normal-grey;
      //.box-shadow: none;

      //box-shadow: 0px 2px 4px #999;
      .artwork-list-item__push-btn {
        display: block;
      }

      .artwork-list-item__actions {
        // bottom: 0px;
        display: block;
        @include background-image(linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%));
      }
    }

     &__thumb {
      padding: 0px;
    }

  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}