@import "compass/css3/transition";
@import "compass/css3/transform";
@import "bootstrap/variables";
@import "../common/colors";

.artwork-detail-modal {
  .modal-content {
    border-radius: 0;
    border: none;
    background: transparent;
    .modal-body {
      width: auto;
      padding: 15px 20px;
    }

    button.close {
      right: 20px;
      top: 13px;
    }
  }
}

.artwork-detail-bg {
    // background: #eee;
    z-index: 100;
    overflow: auto;
}

.artwork-detail {
  // margin-bottom: 30px;

  &__wrap {
    width: 100%;
    background: #fff;
    padding: 15px 20px;
    border-radius: 4px;
  }

  &__img {
    width: 100%;
    margin: 20px 0;
  }

  &__canvas, &__iframe {
    width: 100%;
    margin: 20px 0;
    border: none;
  }

  &__iframe {
    height: 540px;
  }

  &__label {
    font-size: 14px;
    color: #aaa;
  }

  &__info {
    // padding: 10px;
    position: relative;
  }

  &__heading {
    text-align: center;
  }

  &__title  {
    color: #333;
    font-weight: 600;
    font-size: 24px;
  }

  &__author {
    color: #666;
    font-weight: 100;
    font-size: 18px;
  }

  &__format {
    color: $of-normal-grey;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__resolution {
    color: $of-normal-grey;
    font-size: 11px;
  }

  &__description {
    font-size: 16px;
    margin: 20px 0;
  }

  &__added-by {
    font-size: 12px;
    color: $of-normal-grey;
  }

  &__actions {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__action {
    float: right;
  }

  &__artist-profile {
    margin-top: 20px;
    background: #fff;
    border-radius: 4px;

    .link {
      @include transition(all .05s ease-in-out);
      padding: 20px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      background-image: url('../../images/right_caret.svg');
      background-position: right 20px center;
      background-repeat: no-repeat;
    }

    &:hover {
      .link {
        background-position: right 18px center;
      }
    }
  }
}


// overridden styles for sm screen / tablet
@media(min-width: $screen-sm-min) {

  .artwork-detail-modal {
    width: 640px;
  }

  .artwork-detail-bg {
  }
  .artwork-detail-wrap {
    width: 600px;
    margin: 0 auto;
  }

  .artwork-detail {
    &__wrap {
    }
  }
}

// overridden styles for md screen / desktop
@media(min-width: $screen-md-min) {

}

// overridden styles for lg screen / wide desktop
@media(min-width: $screen-lg-min) {

}